.user-component-layout{
  width: fit-content;
  height: fit-content;
  background-color: greenyellow;
  padding: 10px;
  border-style: solid;
  border-width: 10px;
  border-radius: 5px;
  border-color: blue;
  margin-top: 20px;
}
